@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
    font-family: "Rubik", sans-serif;
}

@theme {
    --color-primary: #E6CCFF;
}
::-webkit-scrollbar{
    display: none;
}